---
layout: default
onepage: true
services:
  - title: Cash Flow
    desc: After all expenses are paid, quarterly distributions go out to investors. A 2% quarterly return means an 8% annual return just on cash flow alone.
    bg: /assets/images/mtr-1.jpg
  - title: Appreciation
    icon: fa fa-line-chart
    desc: We create forced appreciation through strategic improvements to our properties, increasing the overall value of the property and, by virtue, your capital.
    bg: /assets/images/mtr-2.jpg
  - title: Tax Benefits
    icon: fa fa-file-text-o
    desc: Depreciation is a tax write-off that enables you to keep more of your profits.
    bg: /assets/images/why-5.jpg
  - title: Ammortization
    icon: fa fa-pie-chart
    desc: Residents pay down debt which creates equity, this leads to long-term wealth.
    bg: /assets/images/why-3.jpg
  - title: Stability
    icon: fa fa-lock
    desc: Multifamily is less volatile and continues to outperform traditional stock based investments.
    bg: /assets/images/why-4.jpg
  - title: Leverage
    icon: fa fa-bank
    desc: You can leverage real estate, this allows you to buy a $10M property with only $2.5M.
    bg: /assets/images/why-6.jpg
works:
  - path: _works/diff-foods.md
  - path: _works/sketch-book.md 
  - path: _works/tv-video.md
    style: wide
  - path: _works/umbrella-beauty.md
  - path: _works/amber.md
  - path: _works/explore.md  
  - path: _works/uro-mag.md 
    style: wide
  - path: _works/flowers.md
members:
  - avatar: /assets/images/@stock/member-7.png
    name: Matt DeMichele
    position: Managing Director
    socials:
      - link: https://mattdemichele.medium.com/
        icon: facebook
      - link: https://www.linkedin.com/in/matthew-demichele-3a51a9139/
        icon: linkedin
    desc:
      "As the Founder and Managing Director of Pacific Hill, Matt brings an undeniable passion and a voracious appetite for learning to his investment practices. He believes that quality relationships and attention to the little things are the keys to a meaningful life."
  - avatar: /assets/images/@stock/member-9.png
    name: You
    position: To Be Determined
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      We're looking to grow our team! If you have experience in real estate investing or simply have the desire to jump in at the groundfloor. Shoot us an email! We want you on the team.   
  

team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-10.jpg

testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: 
      name: "Mary Sue"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "Rob Waters"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png

  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png  
  - /assets/images/@stock/client-7.png    
  - /assets/images/@stock/client-2.png
  
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png  
  - /assets/images/@stock/client-1.png   
  - /assets/images/@stock/client-6.png    
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/spearfish-bg-1.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="header-small-title small-title">Book your trip today</p>
      <h1 class='thin' id="index-header-title">
         <span class="fir">Spearfish</span><br/>
         <span class="sec">In Paradise</span><br/>
         <span class="thir"></span>
      </h1>
      
      <!--Header Blurb-->
      <div class='index-header-blurb'>
       <h2 class="header-blurb">Come experience world-class reefs and make memories that'll last a lifetime.</h2>  
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
      </div>
      
      <!-- Header Buttons -->
      <div class="index-header-buttons">
        <a class="phc-button-1" href='{{ "index.html" | append:nav_obj.path | relative_url }}'>Learn More</a>
        <a class="phc-button-2" href=''>Book A Trip</a>
      </div>
      
    </div>
  </div>
</div>


<!-- Blurb under header: "Expert Deal Finders" -->
<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="phc-small-title small-title">The #1 Charter Company in Puerto Rico</p>
        <h2>
          Have the Adventure <br/> 
          Of A Lifetime
        </h2>
        <p class="big-size">We are best charter fishing and deep sea fishing provider in Puerto Rico. Come book a charter with us or hire us for a private spearfishing lesson.</p>
        <div class="four spacing"></div>
        <img src="{{ "/assets/images/logo-black.png" | relative_url }}" alt="">
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>

<!-- PORTFOLIO SECTION: -->
<!-- <div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            {% if work.thumbnail contains ".mp4" %} 
            <video autoplay='autoplay' id='' loop='loop'>
              <source src='{{ work.thumbnail | relative_url }}' type='video/mp4'>
            </video>
            {% else %}
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            {% endif %}

            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div> -->

<!-- Booking section 1: "Blue Water"-->
<a id="trips"></a>
<div class="meetup-section no-overflow no-padding">
  <div class="meetup-left-half"></div>
  <div class="meetup-right-half">
    <div class="two spacing"></div>
    <div class="phc-section-header section-header alt white">
      <h2 id="booking-section-title">Blue Water Spearfishing</h2>
    </div>
    <p class="light">Offshore pelagic spearfishing is the apex of hunting for all serious spearos! These charters are for hunters looking for the “big one”. Let us put you on a fish of a lifetime!</p>
    <p class="light">Whether you are a beginner or seasoned waterman, we'll teach everything you need to know. We'll put in the right place at the right time, safely and confidently.</p>
    <div class="two spacing"></div>
    <a href="#" class="phc-button-small">Book Now</a>
    <div class="three spacing"></div>
  </div>
</div>

<!-- Booking Section 2: "Reef & Wreck Spearfishing"-->
<div id="booking-2-section" class="meetup-section no-overflow no-padding">
  <div id="booking-2-left" class="meetup-left-half"></div>
  <div id="booking-2-right" class="meetup-right-half">
    <div class="two spacing"></div>
    <div class="phc-section-header section-header alt white">
      <h2 id="booking-section-title">Reef & Wreck Spearing</h2>
    </div>
    <p class="light">Reef and wreck spearfishing in Puerto Rico is some of the best in the world! From coast to coast, we will offer you the very best spearing in the island!</p>
    <p class="light">Whether you are a beginner or seasoned waterman, we'll teach everything you need to know. We'll put in the right place at the right time, safely and confidently.</p>
    <div class="two spacing"></div>
    <a href="#" class="phc-button-small">Book Now</a>
    <div class="three spacing"></div>
  </div>
</div>


<a id='courses'></a>
<div class='full meetup-courses-section'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="phc-small-title small-title">Never Spearfished Before?</p>
        <h2 class="course-title">Book Our Beginner Spearfishing Trips.</h2>
        <div class="course-buy-button">
          <a target="_blank" href="https://buy.stripe.com/test_bIY6rt2Tu5LS3ewdQQ" class="phc-button-small">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div> -->

<!-- Course Section -->
<div class="why-section">
  <div id="why-1" class="why-card">
    <h3 class="why-card-title">Bluewater</h3>
    <div class="why-card-description">Offshore pelagic spearfishing is the apex of hunting! These charters are for hunters looking for the “big one”. Let us put you on a fish of a lifetime!</div>
  </div>
  <div id="why-2" class="why-card">
    <h3 class="why-card-title">Reef & Wreck</h3>
    <div class="why-card-description">Reef and wreck spearfishing in Puerto Rico is some of the best in the world!</div>
  </div>
  <div id="why-3" class="why-card">
    <h3 class="why-card-title">Scuba</h3>
    <div class="why-card-description">Scuba diving and spearfishing go hand and hand! There is nothing better than collecting dinner while you enjoy your dive! We welcome any age and experience level!</div>
  </div>
  <div id="why-4" class="why-card">
    <h3 class="why-card-title">Lionfish</h3>
    <div class="why-card-description">When it comes to hunting Lionfish, we are the experts! Over the years our Lionfish charters have eradicated thousands of Lionfish with divers from around the world!</div>
  </div>
  <div id="why-5" class="why-card">
    <h3 class="why-card-title">Snorkeling</h3>
    <div class="why-card-description">Puerto Rico is home to an abundance of coral and fish life. From Coast to Coast, We offers you the very best snorkeling! Enjoy the comfort and luxury of your own private boat, we are family friendly!</div>
  </div>
  <div id="why-6" class="why-card">
    <h3 class="why-card-title">Fishing</h3>
    <div class="why-card-description">Nothing beats a day on the water, except maybe a fresh caught meal to go with it! From reef to offshore fishing, Puerto Rico has a healthy year round fishery for you to enjoy. All ages and experience levels are welcome, we are family friendly.</div>
  </div>
</div>


<div class='full'>
  <div class='row'>
    <div style="text-align:center;" class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="phc-small-title small-title">We Want You Here</p>
        <h2>Still Have Questions? Call Us Anytime!</h2>
      </div>
      <div class="two spacing"></div>
      <a href="#contact" class="phc-button-small">Schedule A Call</a>
      <div class="three spacing"></div>
    </div>
  </div>
</div>


<div class='phc-join-section full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Let's Talk More.</h3>
      <p>
        We'd love for you to join our email list.
      </p>
    </div>
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='#contact'>Join Newsletter</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>


<!-- <a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Let us introduce ourselves..." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div> -->


<!-- SLIDER SECTION: -->
<!-- <div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div> -->


<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class="section-title">
      <p class="phc-small-title small-title">Latest Posts</p>
      <h2>Ideas & Insights</h2>
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='phc-button-small' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
</div>


<!-- CLIENT SECTION: -->
<div class='full no-overflow no-padding' style="background-image: url({{ '/assets/images/spear-9.jpg' | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our guests say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <!-- <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" /> -->
                      <img class="testimonials-headshot" width="80" height="80" alt="" src="/assets/images/spear-10.jpg"/>
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Featured clients" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div> -->

<!-- <div class="four spacing"></div> -->
<a id='contact'></a>
{% include contact-form.html %}

{% include courses.html %}

{% include testimonials.html %}

<!-- {% include social-networks.html %} -->