<div id="calendar" class='phc-calendar-section'>

    <!-- Title -->
    {% include meetup-section-title.html small_title='Calendar' title='Join Us At Our Next Event' %}
    
    <div class="four spacing"></div>
    <!-- Calendar -->
    <div class="large-8 columns large-centered desk-view">
        <iframe src=https://calendar.google.com/calendar/embed?src=m.d.demichele%40gmail.com&ctz=America%2FPhoenix" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="large-8 columns large-centered mobile-view">
        <iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&src=m.d.demichele%40gmail.com&ctz=America%2FPhoenix" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>