<section class="spear-courses">
    <div class="spear-title-container">
        <h2 class="spear-title">Freediving Courses on Koh Tao</h2>
    </div>

    <div class="courses-blurb-container">
        <p class="blurb-title">Courses from beginner to instructor trainer are offered and a wide selection of various freediving equipment is retailed</p>
        <a class="blurb-button">Learn More</a>

        <!--Course Boxes -->
        <div class="blurb-courses">
            <div id="course-1" class="course">
                <h3 class="course-title">Freediver course</h3>
                <div id="hidden-1" class="course-hidden">
                    <p id="subtitle-1" class="course-subtitle">The Freediver Course will make you feel more comfortable and safe while exploring the ocean.</p>
                    <a id="book-1" class="course-button">Book Now <span><i class="fa fa-arrow-circle-right"></i><span></a>
                </div>
            </div>

            <div id="course-2" class="course">
                <h3 class="course-title">Advanced Freediver</h3>
                <div id="hidden-2" class="course-hidden">
                    <p id="subtitle-2" class="course-subtitle">Longer breath-holds, exhale diving, advanced breathing techniques and much more can be found in the Advanced Freediver Course.</p>
                    <a id="book-2" class="course-button">Book Now <span><i class="fa fa-arrow-circle-right"></i><span></a>
                </div>
            </div>

            <div id="course-3" class="course">
                <h3 class="course-title">Master Freediver</h3>
                <div id="hidden-3" class="course-hidden">
                    <p id="subtitle-3" class="course-subtitle">The Master Freediver Course is made for you to take your training to the next level.</p>
                    <a id="book-3" class="course-button">Book Now <span><i class="fa fa-arrow-circle-right"></i><span></a>
                </div>
            </div>

            <div id="course-4" class="course">
                <h3 class="course-title">Freedive Instructor</h3>
                <div id="hidden-4" class="course-hidden">
                    <p id="subtitle-4" class="course-subtitle">The Apnea Total Instructor Course will provide you with strong teaching skills and freediving knowledge.</p>
                    <a id="book-4" class="course-button">Book Now<span><i class="fa fa-arrow-circle-right"></i><span></a>
                </div>
            </div>
        </div>
    </div>

    <div id="courses-right-box" class="courses-right-container"></div>
</section>