<section class="home-testimonial-section">
    <!-- Title Section: Left-hand side -->
    <div class="testimonial-title-container">
        <h3 class="person-name">Mike Water</h3>
        <p class="person-result">Best experience of my life</p>
    </div>

    <!-- Message Section: Right-hand side -->
    <div class="testimonial-message-container">
        <div class="message-box">
            “Velocity is crucial in marketing. The more campaigns we can put together, the more pages we can create, the bigger we feel, and the more touch points we have with customers. Webflow unlocks that for us and allows us to do more with less."
        </div>
        <div class="message-subtitles-box">
            <div class="subtitle-headshot">
            </div>
            <div class="subtitle-credentials">
            <div>
            <div class="subtitle-readmore">
            </div>
        </div>
    <div>
</section>