// Pacific Hill Theme Colors
// $phc-blue: #114b5f;
// $phc-dark-green: #1A936F;
// $phc-light-green: #88D498;
// $phc-tea-green: #c6dabf;
// $phc-light: #f3e9d2;

// Pacific Hill Theme Colors 
$phc-black: #17252a;
$phc-dark-green: #2b7a78;
$phc-light-green: #3aafa9;
$phc-accent-green: #def2f1;
$phc-white: #feffff;
